@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    font-family: 'serif';
}

body {
    overflow-x: hidden;    
}

/* Homepage Styles */
.homepage, .signuppage, .loginpage, .homeafterpage {
    position: sticky;
    top: 0;
}

.homepage a:nth-child(1) {
    padding-bottom: 15px;
    border-bottom: 3.1px solid;
    width: fit-content;
}

.mainContent {
    /* background-color: rgb(245, 69, 125); */
    display: flex;
}

.left {
    /* background-color: rgb(245, 69, 125); */
    height: 600px;
    width: auto;
}

.left img {
    padding-left: 15%;
    height: auto;
    width: 20em;
}

.content {
    /* background-color: rgb(245, 69, 125); */
    margin-left: 12%;
    height: 200px;
    width: 1000px;
    text-align: center;
}

.content h1 {
    text-align: center;
    padding-right: 25%;
    padding-top: 7%;
    font-size: 130px;
    letter-spacing: 7px;
}

.content h1:nth-child(2) {
    padding-right: 26%;
    padding-top: 2%;
    font-size: 130px;
    letter-spacing: 7px;
}

.content p {
    padding-right: 28%;
    padding-top: 5%;
    font-size: 21px;
}

.content button {
    margin-right: 30%;
    margin-top: 5%;
    background-color: black;
    color: whitesmoke;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 20px;
}

.content button:hover {
    color: black;
    background-color: whitesmoke;
    width: 170px;
    height: 45px;
    font-size: 25px;
}

/* Navbar Styles */
.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    height: 50px;
    padding-top: 1%;
    box-shadow: 3px 3px 5px rgb(245, 69, 125);
}

.navbar h1 {
    font-family: Tangerine;
}

.logo h1 {
    vertical-align: middle;
    color: rgb(245, 69, 125);
    padding-left: 20%;
    font-size: 30px;
}

.links {
    padding-top: 0.5%;
    font-size: 19px;
    padding-left: 20%;
    display: flex;
    padding-bottom: 10px;
}

.links a, .links p {
    text-decoration: none;
    margin-left: 25px;
    color: black;
}

.links a:hover {
    color: rgb(245, 69, 125);
}

.links span {
    margin-left: 25px;
}

.basket {
    padding-left: 25%;
}

.basket img {
    width: 40px;
    height: 40px;
}

/* Bestselling Styles */
.bestselling {
    padding-top: 3%;
    background-color: white; 
}

.bestselling h2 {
    text-align: center;
    padding-bottom: 3%;
    font-size: 30px;
}

/* Products Styles */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1%;
    padding-left: 2%;
    padding-bottom: 5%;
}

.products .cards .image img {
    width: 500px;
    height: 400px;
    box-shadow: 3px 1px 1px 3px rgb(245, 69, 125) ;
    border-radius: 15px;
}

.products .cards img:hover {
    cursor: pointer;
}

.cards .name {
    padding-top: 2.5%;
    display: flex;
}

.cards .name p {
    margin-left: 25%;
    font-size: 17px;
}

.cards .name img {
    width: 20px;
    height: auto;
    margin-left: 2%;
}

.cards .name p:hover {
    color: rgb(245, 69, 125);
    cursor: pointer;
    font-size: 20px;
}

.cards .name h3 {
    padding-left: 1.5%;
    font-weight: 400;
} 

.cards .price {
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 1.5%;
    display: flex;
}

.cards .price h3 {
    font-weight: 400;
}

.cards .price h3:nth-child(3) {
    padding-left: 2%;
    text-decoration: line-through;
}

.cards .price h3:nth-child(2) {
    padding-left: 2%;
}

/* Footer Styles */
.footer {
    background-color: rgb(245, 69, 125);
    opacity: 75%;
    display: flex;
    width: 100%;
}

.footer .about h2 {
    text-align: center;
    opacity: 100%;
    padding-top: 2%;
    padding-left: 30%;
    display: flex;
}

.footer .info {
    display: flex;
    padding: 2%;
    padding-left: 10%;
}

.footer .our-team {
    padding-left: 20%;
    width: 55%;
}

.footer .our-team h4 {
    text-align: center;
    padding-right: 7%;
    padding-bottom: 2%;
}

.footer .image-products img {
    /* padding-top: 2%; */
    width: 600px;
    height: auto;
    /* padding-left: 5%; */
}

/* Signup & Login Styles */
.signup, .login {
    width: 540px;
    margin: auto;
    margin-top: 5%;
}

.signup h2, .login h2 {
    color: black;
    margin-left: 24%;
    font-size: 50px;
    padding-top: 20px;
}

.signup label, .login label {
    color: black;
    text-align: center;
    margin-left: 15%;
    padding-left: 4.5%;
    margin-top: auto;
    padding-top: 45px;
    display: flex;
    font-weight: 500;
    font-size: 22px;
}

.signup input, .login input {
    width: 350px;
    margin-left: 15%;
    border-radius: 7px;
    box-shadow: 10px 3px 5px black;
    border: 1px solid #4e4b4b;
    display: block;
    margin-top: 3%;
    margin-left: 19%;
    height: 32px;
    font-style: normal;  
    font-weight: 400;
    font-size: 18px;
}

.signup button, .login button {
    background-color: black;
    font-size: 17px;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin-left: 40%;
    margin-top: 7%;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 4%;
}

.signup button:hover, .login button:hover {
    background-color: white;
    color: black; 
}

.signup img, .login img {
    padding-top: 6%;
    padding-left: 42%;
}

.signup a, .login a {
    margin-left: 15%;
    text-decoration: none;
    font-size: 23px;
    color: white;
}

.signup a:hover, .login a:hover {
    color: black;
}

/* Contact Styles */
.contact {
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 5%;
}

.contact form {
    display: flexbox;
    margin: 40px auto;
    padding: 50px;
}

.contact form input, textarea {
    width: 300px;
    margin-left: 10%;
    border-radius: 7px;
    box-shadow: 10px 3px 5px black;
    border: 1px solid black;
    color: black;
    display: block;
    margin-top: 10px;
    height: 25px;
    font-style: normal;  
    padding: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
}

.contact form h1 {
    color: black;
    margin-left: 22%;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.contact button {
    background-color: black;
    font-size: 17px;
    width: 100px;
    height: 35px;
    border-radius: 7px;
    border: rgb(30, 47, 240);
    margin-left: 40%;
    margin-top: 7%;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 40px;
}

.contact button:hover {
    background-color: cornsilk;
    color: black; 
}

.hoverContents {
    display: none;
    position: absolute;
    border-top: 2px solid black;
    padding-top: 1%;
    background-color: #ffffff;
    width: 800px;
    z-index: 1;
    margin: 0.5%;
}

.hoverContents .nails, .hoverContents .face {
    padding-left: 3%;
}

.hoverContents p {
    padding-bottom: 5%;
}

.hoverContents a {
    font-size: 19px;
    position: relative;
}

.hoverContents a:hover {
    cursor: pointer;
    color: black;
    background-color: pink;
    border-bottom: 1px solid black;
}

.onhover:hover .hoverContents {
    display: flex;
}

/* Home After Login Styles */
.homeafterpage .navbar {
    position: sticky;
    top: 0;
}

.homeafterpage .navbar .links {
    margin-left: 35%;
}

.homeafterpage .navbar .links button {
    margin-top: -7%;
    height: 35px;
    width: 100px;
    font-size: 21px;
    background-color: rgb(245, 69, 125);
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: 500;
}

/* Home Styles */
.home {
    background-color: white;
    margin-top: 5%;
}

.home .nailpaints {
    margin-left: 3%;
}

.home .nailpaints p {
    text-decoration: none;
    color: black;
    border-bottom: none;
    font-size: 150%;
    padding-bottom: 2%;
}

.home .nailpaints .cards {
    display: flex;
}

.home .nailpaints .cards .second {
    margin-left: 3%;
}
